.mu-table-td {
  line-height: 23px;
  word-break: break-all;
  color: #606266;
}

.mu-table-no-data {
  text-align: center;
  line-height: 60px;
  color: #909399;
  border-bottom: 1px solid #ebeef5;
  font-size: 14px;
  height: 60px;
  line-height: 60px !important;
}