.mu-table-body{
  position: relative;
}

.mu-table-td {
  line-height: 23px;
  word-break: break-all;
  color: #606266;
}

.mu-table-no-data {
  text-align: center;
  line-height: 60px;
  color: #909399;
  border-bottom: 1px solid #ebeef5;
  font-size: 14px;
  height: 60px;
  line-height: 60px !important;
}

.mu-table-nowrap {
  table {
    .mu-table-td {
      white-space: nowrap;
    }
  }
}

.mu-table-tooltip {
  position: fixed;
  background-color: #000;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  user-select: none;
  display: none;
  max-height: 100vh;
  max-width: 400px;
  word-break: break-all;
}


.mu-table-tooltip-arrow {
  position: absolute;
  background: #000;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}